body {
	background:url(../images/bg-intro-desktop.png) no-repeat; background-size:cover;

	.wrapper {
		height:100vh; display:flex; flex-direction:column; justify-content:center; font-family:'Poppins', sans-serif; background-color:#FF7A7Acf;
		h1 { font-weight:700; }

		.btn-blue { background-color:#6055A5; padding:0.8rem 0rem;}
		.btn-green { background-color:#38CC8C; padding:0.8rem 0rem;}
		.shadow-bottom { box-shadow: 0 0.5rem 0rem rgba(0,0,0,.15); }
		.flex-basis { flex-basis:85%; }
		.padding { padding:2rem; }

		.flexbox {
			display:flex; justify-content:center; align-items:center;
		}

		.terms-services { margin-top:0.5rem; text-align:center; font-size:0.7rem; color:#B9B6D3; }

		.color { color:#FF7A7A; }

	}

// section { height: 200px; }
}
